- name: Installer PrestaShop via PHP CLI
  hosts: all
  become: yes

  vars:
    domain: "54.163.140.161"
    db_server: "database-1.cuunbkfggjer.us-east-1.rds.amazonaws.com"
    db_user: "admin"
    db_password: "password"
    prefix: "myshop"
    email: "test@test.com"
    password: "password"

  tasks:
    - name: Installer PrestaShop via le CLI PHP
      command: "php /var/www/html/prestashop/install/index_cli.php --db_server={{ db_server }} --db_user={{ db_user }} --db_password={{ db_password }} --prefix={{ prefix }} --email={{ email }} --password={{ password }} --db_create=1 --rewrite=0"

    - name: Supprimer le dossier /install de PrestaShop
      file:
        path: "/var/www/html/prestashop/install"
        state: absent
